/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@import "compass";
@import "compass/reset";
@import "breakpoint";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/filter";
@import "font-awesome.min.css";

$pc1366: max-width 1367px;
$pc1280: max-width 1300px;
$pc1260: max-width 1260px;
$ipad: max-width 1025px;
$iphone: max-width 767px;

@mixin abcenter($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  @include transform(translateX(-$left) translateY(-$top));
}

@mixin recenter($top, $left) {
  position: relative;
  top: $top;
  left: $left;
  @include transform(translateX(-$left) translateY(-$top));
}

@mixin Xcenter($left) {
  position: relative;
  left: $left;
  @include transform(translateX(-$left));
}

@mixin Ycenter($top) {
  position: relative;
  top: $top;
  @include transform(translateY(-$top));
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;

  &:hover {
    color: #1ea0c3;
  }
}

img {
  border: 0;
  display: inline-block;
}

body {
  font-family: "Microsoft JhengHei;";
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-color: #f0f1f5;
  overflow-x: hidden;
}

button,
input {
  outline: none;
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  box-sizing: initial;
  padding: 0;
  border-width: 0px;
  border-style: none;
  font-size: 2.5rem;
  border-radius: 0;
  -webkit-appearance: none;
}

#loading {
  background-image: url("../images/landscape.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top right;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999;

  &::after {
    content: " ";
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #7e79db, #83b4dd);
  }

  .logo {
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 999;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-40%);
  }
}

.middle {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loginInformation {
  margin: 2%;
  text-align: center;
  overflow-x: hidden;

  .tittle {
    width: 180px;
  }
}

.formBOx {
  padding-top: 50px;

  .Error {
    input {
      border-bottom: 2px solid #ff7e8d;
    }

    span.error_message {
      &:after {
        content: "密碼錯誤，請再試一次";
        background-color: #ff7e8d;
        color: #fff;
        font-size: 12px;
        height: auto;
        padding: 15px;
        position: absolute;
        font-weight: 100;
        box-shadow: 1px 3px 5px #acacac;
        border-radius: 1px;
        bottom: -50px;
        width: 150px;
        left: 0px;
      }

      &:before {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #ff7e8d transparent;
        position: absolute;
        bottom: -10px;
        left: 22px;
      }
    }
  }

  input {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid #acacac;
    padding: 0px 0px 0px 50px;
    width: 100%;
    font-size: 15px;
    height: 49px;
    color: #acacac;
    text-align: left;
    margin: 8px 0px;

    &:focus {
      border-left: 0px;
      border-right: 0px;
      border-top: 0px;
      border-bottom: 2px solid;
      border-image: linear-gradient(to right, #35b7fc, #b992f9) 10 10;
      outline: none;
      color: #000;
    }

    &.login {
      margin-top: 80px;
      height: 56px;
      outline: none;
      align-items: flex-start;
      text-align: center;
      cursor: pointer;
      color: #fff;
      background: linear-gradient(to right, #b992f9, #35b7fc);
      box-sizing: border-box;
      font-size: 17px;
      padding: 0;
      border-radius: 4px;
      font-weight: bold;
      -webkit-appearance: none;

      @include breakpoint($iphone) {
        height: 45px;
      }

      &:hover {
        border-width: 2px;
        border-style: solid;
        border-color: #35b7fc;
        border-image: 0;
        background: #fff;
        transition: 0.3s all;
        color: #35b7fc;
      }
    }
  }

  .user,
  .password {
    text-align: left;
    margin-bottom: 16px;
  }

  .inputBox {
    position: relative;

    span.representative {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      padding-right: 10px;
      border-right: 1px solid #acacac;
    }

    span.confirm {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
  }
}

// notion
.header_bar {
  background-color: #525077;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
  box-shadow: 0px 3px 5px #b5b5b5;

  .white_logo {
    position: absolute;
    left: 0;
    height: 56px;
    width: 65px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 33px;
      height: auto;
    }
  }

  .current_state {
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
  }

  .user_information {
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a,
    .fa-location-arrow {
      color: #35b7fc;
    }

    span.user_icon {
      width: 33px;
      height: 33px;
    }
  }
}

.navigation {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  box-shadow: 0px 3px 10px 0px;
  z-index: 999;
  background: #ffffff;

  &::before {
    content: "|";
    position: absolute;
    color: #dbdfe5;
  }
  .here {
    color: #35b7fc !important;
  }
  .twenty-eight {
    font-size: 28px;
    color: #acacac;

    &:hover {
      color: #35b7fc;
    }
  }

  .twenty-six {
    font-size: 26px;
    color: #acacac;

    &:hover {
      color: #35b7fc;
    }
  }
  .camera {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #35b7fc;
    color: #ffffff;
    bottom: 25px;
    box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.5);
    .fa-2x {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 26px;
    }
  }
}

.notification {
  i,
  span,
  p {
    color: #525077;
    font-size: 15px;
  }

  li:nth-child(odd) {
    background-color: #dff3fd;
  }

  li {
    height: 86px;

    .notification_inner {
      width: 250px;
      margin: auto;
      padding: 27px 0px;

      p {
        font-size: 12px;
        color: #acacac;
        padding-left: 20px;
        padding-top: 5px;
      }
    }
  }
}

.mapBox {
  width: 95%;
  margin: 10px auto 60px auto;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  padding: 10px 0px;

  .map {
    width: 95%;
    margin: auto;
    padding: 10px 0px;
  }

  .detail {
    width: 95%;
    margin: 0px auto 0px auto;
    border: 1px solid #dbdfe5;
    font-size: 15px;
    p.title {
      font-weight: bold;
      color: #464453;
      height: 50px;
      display: flex;
      align-items: center;
      margin: 0px 15px;
      border-bottom: 0px solid #dbdfe5;
      white-space: nowrap;
    }
    p:nth-last-child(1) {
      border-bottom: 0px solid #dbdfe5;
    }

    p,
    .distance {
      font-weight: bold;
      color: #464453;
      height: 50px;
      display: flex;
      align-items: center;
      margin: 0px 15px;
      border-bottom: 1px solid #dbdfe5;
      white-space: nowrap;

      span {
        color: #7c80aa;
        padding-left: 15px;
        font-weight: 400;
      }
    }

    .distance {
      ul {
        padding-left: 15px;
        color: #7c80aa;
        font-weight: 400;
      }
    }
  }
}

.collapse {
  margin: 20px 0px;
}

.historyBox {
  margin-bottom: 12px;
}

.togglefaq {
  box-shadow: 0px 0px 5px 2px #dcdcdc;
  position: relative;
  height: 56px;
  background-color: #fff;
  display: flex;
  align-items: center;
  transition: 0.35s all;
  color: #525077;

  &:hover {
    background-color: #7c80aa;
    color: #fff;
  }

  p.date {
    font-size: 15px;
    font-weight: bold;
    margin: 0px 60px 0px 30px;
  }

  p.location {
    font-size: 15px;
  }
}

.history-container {
  width: 90%;
  margin: 0px auto 70px auto;
}

.reminder {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #35b7fc;
  }
}
.inDetail {
  display: flex;
  p.textareaTitle {
    width: 20%;
    font-weight: bold;
    color: #464453;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0px 15px;
    border-bottom: 0px solid #dbdfe5;
    white-space: nowrap;
  }
  textarea {
    width: 80%;
    margin: 15px;
    height: 90px;
    font-size: 15px;
    border: 1px solid #dbdfe5;
    overflow-y: scroll;
  }
}
